{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Buscar Empleado</title>
</head>
<body>
    <h1>Buscar Empleado</h1>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Buscar</button><br><br>
        <button><a href="{% url 'horas' %}">Volver</a></button>
    </form>
    {% if empleado %}
        <h2>Datos del Empleado</h2>
        <p>Número de Documento: {{ empleado.nro_documento }}</p>
        <p>Nombre: {{ empleado.nombre1 }}</p>
        <p>Apellido: {{ empleado.apellido1 }}</p>
        <p>Numero Teelefono: {{ empleado.numero_celular }}</p>
        <p>Direccion: {{ empleado.direccion }}</p>
        <p>Arl: {{ empleado.nivel_riesgo }}</p>
        <h2>Horas Extras</h2>
    
    {% for horas_extras in horas_extras %}

    <li>Horas Extra Realizadas: {{ horas_extras.tipo_Hora }} / tiempo: {{ horas_extras.fecha_hora }} / valor: <span class="valor">{{ horas_extras.valor }}</span> </li>

    {% endfor %}

    <p>Total Horas Extra: <span class="valor">{{ total_valor }}</span> </p>
    <p>Total salario + Horas Extra: <span class="valor"> {{ salario_total }} </span></p>

    <p>¿Cuenta con auxilio de transporte?: {{ tiene }}</p>
    
    {% if not auxilio %}

    {% else %}

        <p>Auxilio de transporte + salario total: <span class="valor"> {{ aux_trans }}</span></p>

    {% endif %}

    
    <h1>Total Devengado</h1>

    <p> <span class="valor">{{deveng}}</span></p>
    
    <h1>Cesantias Y Int. Cesantias</h1>

    <p>Cesantias: <span class="valor"> {{cesantias}}</span></p>
    <p>Intereses de cesantias: <span class="valor"> {{ intereses_cesantias }}</span></p>

    <p>{{prueba}}</p>

    {% endif %}
    
    <script>
        // Función para formatear número como moneda COP
        function formatCurrency(number) {
            return new Intl.NumberFormat('es-CO', { 
                style: 'currency', 
                currency: 'COP', 
                minimumFractionDigits: 0,
                maximumFractionDigits: 0 
            }).format(number);
        }
    
        // Obtener los elementos con la clase 'valor' y formatearlos como moneda COP
        const valores = document.querySelectorAll('.valor');
        valores.forEach(valor => {
            let numero = parseFloat(valor.textContent.trim());
            valor.textContent = formatCurrency(numero);
        });
    </script>
</body>
</html>
