<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Horas Extra</title>
</head>
<body>
    <h1>Detalle de Horas Extra</h1>

    <!-- Iterar sobre data_list y mostrar cada conjunto de datos -->
    {% for data in data_list %}
        <div>
            <p><strong>Nombre:</strong> {{ data.nombre }}</p>
            <p><strong>Apellido:</strong> {{ data.apellido }}</p>
            <p><strong>Documento:</strong> {{ data.docu }}</p>
            <p><strong>Fecha y Hora:</strong> {{ data.fecha_hora }}</p>
            <p><strong>Tipo de Horas:</strong> {{ data.tipo_horas }}</p>
            <p><strong>Horas Trabajadas:</strong> {{ data.hora1 }}</p>
            <p><strong>Resultado:</strong> <span class="valor">{{ data.resultado }}</span></p>
        </div>
        <hr>
    {% endfor %}
    
    <a href="{% url 'horas' %}">Volver</a>

    <script>
        // Función para formatear número como moneda COP
        function formatCurrency(number) {
            return new Intl.NumberFormat('es-CO', { 
                style: 'currency', 
                currency: 'COP', 
                minimumFractionDigits: 0,
                maximumFractionDigits: 0 
            }).format(number);
        }
    
        // Obtener los elementos con la clase 'valor' y formatearlos como moneda COP
        const valores = document.querySelectorAll('.valor');
        valores.forEach(valor => {
            let numero = parseFloat(valor.textContent.trim());
            valor.textContent = formatCurrency(numero);
        });
    </script>
</body>
</html>
